# Environments (보안)
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data, Logs & Databases (NAS 보관 및 GitHub 푸시 금지!)
data/
logs/
*.log
*.db

# Temporary Outputs & OS Files
combined_code.txt
*.md
.DS_Store
Thumbs.db
